/* adaptive layout for the poor bastards using phones to browse the archive */

/*****************************************************************************
 *  pretty large: regular pages are fine, but while editing the              *
 *  cheatsheet stays in the way, so put it at the bottom to be less annoying *
 *****************************************************************************/

@media only screen and (max-width: 991px) {
    div#cheattoggler {
        display: none;
    }
    div#cheatsheet {
        position: relative;
        bottom: 0px;
        right: 0px;
        margin: 10px 10px;
        padding: 10px 10px;
        width: 95%;
    }
    div#uploadform {
        width: 95%;
    }
}

@media only screen and (max-width: 767px) {
    /* this should match the top bar */
    #vwbanner {
        min-width: 570px;
    }
    /* force the width of the banner image */
    img#title-banner-img {
        padding-left: 0px;
        width: 380px;
    }
    /* remove the logo, it's stealing room */
    div#wbanner {
        background: none;
    }
    /* fix the lower navbar */
    #nav ul {
        padding-left: 30px;
    }
}

/* and here come the poor bastards */
@media only screen and (max-width: 580px) {
    br#full-text-search-separator {
        display:none;
    }
    #vwbanner {
        min-width: 240px;
        height: auto;
    }
    #wbanner {
        height: auto;
    }
    div#banner {
        height: auto;
    }
    img#title-banner-img {
        width: 240px;
        padding: 8px 0px 8px 0px;
        margin-top: 0px;
    }
    #sec-sub-menu {
        display: none;
    }
    div#tableofcontents {
        position: relative;
        margin: 10px 10px;
        height: auto;
        right: 0px;
        bottom: 0px;
        width: 90%;
        display: block;
    }
    div#toctoggler {
        display:none;
    }
    div#page {
        width: 100%;
    }
    div#cloud {
        width: 100%;
        margin-bottom: 50px;
    }
    div#nav {
        background-color: #333;
        height: auto;
        padding-bottom: 5px;
    }
    #nav ul {
        height: auto;
        padding-left: 5px;
    }
    #nav ul li a {
        white-space: nowrap;
        color: #bbb;
        font-weight: bolder;
        padding: 0px;
        background-color: #333;
        color: #bbb;
        margin: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
    div#nav ul li a:hover {
        color: #fff;
    }
    #nav a#current {
        padding-left: 5px;
        padding-right: 5px;
        color: #fff;
        background-color: #333;
        border: 0px none;
        boder-bottom: none;
    }
    #sec-nav-submenu {
        display: inline;
        position: relative;
        top: 0px;
        left: 0px;
        background-color: #333;
        color: #eee;
    }
    ul#sec-nav-submenu li {
        display: inline;
        list-style-type: none;
        white-space: nowrap;
    }
    #sec-nav-submenu a {
        display: inline;
    }
    ul#sec-nav-submenu {
        display: inline;
        list-style-type: none;
    }
    #sec-men-ul a {
        white-space: nowrap;
    }
}

