/* AmuseWiki specific CSS */

div#preamble p {
    margin: 0;
    padding: 0;
}

div#preamble {
    padding-bottom: 20px;
}

#tableofcontents p {
    margin: 3px 1em;
    text-indent: -1em;
}

div.table-of-contents {
    margin-top: 20px;
    margin-bottom: 40px;
    border: 1px solid black;
    background-color: #eee;
    margin-right: 0px;
    max-width: 400px;
}

p.tableofcontentline {
    margin: 0px 3px;
}

p.tableofcontentline a{
    color: black;
}


div#htmltextbody {
    margin-top: 40px;
}

div.float_image_r,div.float_image_l {
    margin: 3px;
}

div.float_image_r {
    margin-left: 12px;
}

