/* AmuseWiki specific CSS */

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 50px;
}

.footer {
  position: relative;
  margin-top: -70px; /* negative value of footer height */
  height: 70px;
  clear:both;
  padding-top:15px;
}

body {
    padding-top: 70px;
}

div#preamble p {
    margin: 0;
    padding: 0;
}

div#preamble {
    padding-bottom: 20px;
}

div.preview-preamble {
    padding-bottom: 0px !important;
}

p.tableofcontentline {
    margin: 0px 1em;
    text-indent: -1em;
}

div#htmltextbody {
    margin-top: 40px;
}

div.float_image_r,div.float_image_l {
    margin: 3px;
}

div.float_image_r {
    margin-left: 12px;
}

.feed {
    margin-left: 3px;
    margin-right: 3px;
    padding: 0 0 0 19px;
}

img.amw-navlogo-img {
    padding: 5px 5px;
    height: 50px;
}

img.amw-logo-img {
    height: 25px;
    padding: 0px;
}

a.amw-navlogo:hover {
    text-decoration: none;
}

ul.latest-entries {
    list-style-type: none;
}

ul.latest-entries li {
    padding-top: 4px;
}

blockquote {
    border-left: none;
    margin-bottom: 10px;
}

#special-pages-logo {
    text-align: center;
}

#special-pages-logo-img {
    width: 110px;
    padding-top: 30px;
}

/* Tweak the headers in the text */
#thework > h2 {
    font-size: 22pt;
    font-weight: bold;
}

#thework > h3 {
    font-size: 18pt;
    font-weight: bold;
}

#thework > h4 {
    font-size: 14pt;
    font-weight: bold;
}

#thework > h5 {
    font-size: 12pt;
    font-weight: bold;
}

#thework > h6 {
    font-size: 10pt;
    font-weight: bold;
}

.amw-listing-item {
    margin-bottom: 1px;
}

.amw-diff-context {
    color: #999;
}

.amw-diff-deletion {
    color: red;
}

.amw-diff-insertion {
    color: green;
}

.amw-paging-anchor {
    font-family: monospace;
    font-weight: bold;
}

.amw-bbselect-cell {
    vertical-align: middle !important;
    text-align:center
}

.amw-form-field {
    padding-top: 2px;
    padding-bottom: 2px;
}

img.amw-fbreader {
    width: 200px;
}

img#text-cover-img {
    max-width: 250px;
    padding: 10px;
    margin: 3px;
}

img.text-cover-img-mini {
    max-width: 150px;
    padding: 10px;
}

div.text-cover-img-mini-container {
    float:right;
    margin-left: 5px;
    margin-bottom: 5px;
}

div#text-cover-img-container {
    float:right;
}

img.pdfmyicons {
    margin-bottom: 10px;
}

div.amw-latest-listing-item-date {
    display: inline;
}

div.amw-cloud-element {
    display: inline-block;
    margin: 3px;
}

.amw-cloud-element-level-0 {
    font-size: 10pt;
}

.amw-cloud-element-level-1, .amw-cloud-element-level-2, .amw-cloud-element-level-3,
.amw-cloud-element-level-4, .amw-cloud-element-level-5 {
    font-size: 11pt;
}

.amw-cloud-element-level-6, .amw-cloud-element-level-7, .amw-cloud-element-level-8,
.amw-cloud-element-level-9, .amw-cloud-element-level-10 {
    font-size: 12pt;
}

.amw-cloud-element-level-11, .amw-cloud-element-level-12, .amw-cloud-element-level-13,
.amw-cloud-element-level-14, .amw-cloud-element-level-15 {
    font-size: 13pt;
}

.amw-cloud-element-level-16, .amw-cloud-element-level-17, .amw-cloud-element-level-18,
.amw-cloud-element-level-19, .amw-cloud-element-level-20 {
    font-size: 14pt;
}

/*
.amw-cloud-element-texts {
    display: none;
}
*/

.amw-cloud-href, .amw-cloud-href:hover {
    text-decoration: none;
}

div.amw-post-listing-container {
    margin-top: 10px;
}

div#text-next-post-link span.fa,
div#text-prev-post-link span.fa,
div#text-next-post-link span.glyphicon,
div#text-prev-post-link span.glyphicon {
    font-size: 20px;
}

.amw-fixed-panel-edit {
    max-height: 400px;
    width: 100%;
    overflow-y: scroll;
}

.amw-spacer-20 {
    margin:0;
    padding:0;
    height: 20px;
}

.amw-spacer-50 {
    margin:0;
    padding:0;
    height: 50px;
}

