/* https://google-webfonts-helper.herokuapp.com/fonts/libre-baskerville?subsets=latin,latin-ext */
/* libre-baskerville-regular - latin-ext_latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/libre-baskerville-v9-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-baskerville-v9-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-baskerville-v9-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-baskerville-v9-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-baskerville-v9-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-baskerville-v9-latin-ext_latin-regular.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}

/* libre-baskerville-italic - latin-ext_latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/libre-baskerville-v9-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-baskerville-v9-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-baskerville-v9-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-baskerville-v9-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-baskerville-v9-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-baskerville-v9-latin-ext_latin-italic.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}

/* libre-baskerville-700 - latin-ext_latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/libre-baskerville-v9-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/libre-baskerville-v9-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/libre-baskerville-v9-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/libre-baskerville-v9-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/libre-baskerville-v9-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/libre-baskerville-v9-latin-ext_latin-700.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}

/* questrial-regular - latin-ext_latin */
@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/questrial-v13-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/questrial-v13-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/questrial-v13-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/questrial-v13-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/questrial-v13-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/questrial-v13-latin-ext_latin-regular.svg#Questrial') format('svg'); /* Legacy iOS */
}
