div.radio,
div.checkbox {
    margin-right: 20px;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    margin-left: 0px;
    margin-right: -20px;
}

.checkbox label {
    padding-right: 0px;
}

th {
    text-align: inherit;
}

.dropdown-menu {
    text-align: right;
}
