[submodule "bootstrap-amw/bootstrap"]
	path = bootstrap-amw/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "bootstrap-amw/bootswatch"]
	path = bootstrap-amw/bootswatch
	url = https://github.com/thomaspark/bootswatch.git
[submodule "bootstrap-amw/Font-Awesome"]
	path = bootstrap-amw/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "bootstrap-amw/bootstrap-datepicker"]
	path = bootstrap-amw/bootstrap-datepicker
	url = https://github.com/uxsolutions/bootstrap-datepicker
[submodule "bootstrap-amw/screenfull.js"]
	path = bootstrap-amw/screenfull.js
	url = https://github.com/sindresorhus/screenfull.js.git
