META.yml
MYMETA.json
MYMETA.yml
Makefile
blib/*
inc/*
pm_to_blib
sqlite.db
repo/*
!repo/0blog0
!repo/0wiki0
!repo/README.txt
root/static/images/sites/*
repo/*/*/*/*.pdf
repo/*/*/*/*.tex
repo/*/*/*/*.html
repo/*/*/*/*.log
repo/*/*/*/*.epub
repo/*/*/*/*.ok
repo/*/*/*/*.status
repo/*/*/*/*.aux
repo/*/*/*/*.toc
repo/*/*/*/*.zip
repo/*.log
root/custom/*.pdf
root/custom/*.epub
repo/0blog0/specials/*
!repo/0blog0/specials/index.muse
!repo/0blog0/specials/i-x-myfile.png
xapian/*
!xapian/README.txt
dbic.yaml
root/static/js/ckeditor*
specials/0blog0/*
staging/*
!staging/README.txt
log/jobs/*.log
*~

