META.yml
MYMETA.json
MYMETA.yml
Makefile
Makefile.old
blib/*
inc/*
pm_to_blib
sqlite.db
repo/*
!repo/README.txt
root/static/images/sites/*
root/custom/*.pdf
root/custom/*.epub
root/custom/*.zip
xapian/*
!xapian/README.txt
bbfiles/*
!bbfiles/README.txt
dbic.yaml
!t/dbic.yaml
root/static/js/ckeditor*
root/static/js/*.zip
root/static/images/font-preview/*.pdf
root/static/images/font-preview/*.png
root/static/cgit/*
root/git/*
root/uploads/*
opt/*
staging/*
!staging/README.txt
log/jobs/*.log
*~
*.db
var/*
!var/.exists
bootstrap-amw/bootstrap/*
current_version_is*.txt
webfonts/*/*
log4perl.local.conf
log/amw.log
ssl/*
cronjobs/*
log/*
amusewikifarm_local.conf
design/*
ext-src/*
AmuseWikiFarm-*.tar.gz
MANIFEST.bak
.amusewiki.jobber.lock
thumbnails/*
