[submodule "bootstrap-amw/bootstrap"]
	path = bootstrap-amw/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "bootstrap-amw/bootswatch"]
	path = bootstrap-amw/bootswatch
	url = https://github.com/thomaspark/bootswatch.git
[submodule "bootstrap-amw/screenfull.js"]
	path = bootstrap-amw/screenfull.js
	url = https://github.com/sindresorhus/screenfull.js.git
