META.yml
MYMETA.json
MYMETA.yml
Makefile
blib/*
inc/*
pm_to_blib
sqlite.db
repo/*/*/*/*.pdf
repo/*/*/*/*.tex
repo/*/*/*/*.html
repo/*/*/*/*.log
repo/*/*/*/*.epub
repo/*/*/*/*.ok
repo/*/*/*/*.aux
repo/*/*/*/*.toc
repo/*.log
xapian/*
!xapian/README.txt
dbic.yaml
*~

