/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// Settings for Muse
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:url(images/h1.png); 
}
.markItUp .markItUpButton2 a {
	background-image:url(images/h2.png); 
}
.markItUp .markItUpButton3 a {
	background-image:url(images/h3.png); 
}
.markItUp .markItUpButton4 a {
	background-image:url(images/h4.png); 
}
.markItUp .markItUpButton5 a {
	background-image:url(images/h5.png); 
}
.markItUp .markItUpButton6 a {
	background-image:url(images/italic.png);
}
.markItUp .markItUpButton7 a {
	background-image:url(images/bold.png); 
}

.markItUp .markItUpButton8 a {
	background-image:url(images/list-bullet.png);
}
.markItUp .markItUpButton9 a {
	background-image:url(images/list-numeric.png);
}

.markItUp .markItUpButton10 a {
	background-image:url(images/picture.png); 
}
.markItUp .markItUpButton11 a {
	background-image:url(images/link.png);
}

.markItUp .markItUpButton12 a	{
	background-image:url(images/quotes.png);
}
.markItUp .markItUpButton13 a	{
	background-image:url(images/code.png);
}

/*
.markItUpContainer  {
	border:1px solid #3C769D;	
	background:#fafafa;
	padding:5px 5px 2px 5px;
	font:11px Verdana, Arial, Helvetica, sans-serif;
}
.markItUpEditor {
	font:12px 'Courier New', Courier, monospace;
	padding:30px 10px 10px 35px;
	border:3px solid #3C769D;
	width:643px;
	height:320px;
	background:#fafafa;
	clear:both;
	line-height:18px;
	overflow:auto;
}
*/