<div class="page-header" id="amw-latest-entries-title">
  <h1>[% page_title | html %]</h1>
</div>

<div class="amw-listing-page-body">
[% INCLUDE 'include/posts.tt' %]
[% INCLUDE 'include/pagination.tt' %]
</div>
