Site ID: [% site_id %]

<ol>
  [% FOREACH cat IN list %]
  [% count = cat.title_count %]
  [% IF count %]
  <li>
    <a href="[% baseurl %]/[% cat.uri %]">[% cat.name %]</a>
    ([% count %])
  </li>
  [% END %]
  [% END %]
</ol>
