Site ID: [% site_id %]

<ol>

[% FOREACH cat IN list %]
[% IF count %]
<li><a href="[% cat.uri %]">[% cat.name %]</a> ([% cat.count %])</li>
[% ELSE %]
<li><a href="[% cat.uri %]">[% cat.name %]</a> ([% cat.count %])</li>
[% END %]
[% END %]
</ol>
