<div class="center">
  <div class="page-header">
    <h1>[% page_title | html %]</h1>
  </div>
</div>

<p>
  [% loc('Here you can provide a spreadsheet with your bibliographical entries. We are going to create an entry for each record. First you need to set the field names. Empty fields will be ignored.') %]
</p>

<p>
  [% loc('If you need more fields, please see:') %]
</p>
<ul>
  <li><a href="[% c.uri_for_action('/settings/categories') %]">[% loc('Categories') %]</a></li>
  <li><a href="[% c.uri_for_action('/settings/annotations') %]">[% loc('Annotations') %]</a></li>
</ul>

<p>
  [% loc('You can also download the current catalog in CSV (encoding: UTF-8, end of line: LF, separator: comma)')  %]:
</p>

<p class="text-center">
  <a class="btn btn-primary" href="[% c.uri_for_action('/console/download_spreadsheet') %]">Download Catalog</a>
</p>

<form action="" method="POST">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>[% loc('Description') %]</th>
        <th>[% loc('Spreadsheet field') %]</th>
        <th>[% loc('Field separator for multiple values') %]</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td>
          <label class="control-label" for="spreadsheet-file">[% loc('Spreadsheet') %]</label>
        </td>
        <td>
          <input type="file" id="spreadsheet-file" required/>
        </td>
        <td>
          [% loc('The file can be a CSV, a XLS or a XLSX') %]
        </td>
      </tr>
      <tr>
        <td colspan="3" class="text-center">
          <button type="submit" class="btn btn-primary">Upload</button>
        </td>
      </tr>
    </tfoot>
    <tbody>
      [% FOREACH ss_spec IN spreadsheet_specification %]
        <tr>
          <td>
            <label class="control-label" for="sss-[% ss_spec.name | html %]">[% ss_spec.label | html %]</label>
            [% IF ss_spec.help %]<small>[% ss_spec.help | html %]</small>[% END %]
          </td>
          <td>
            <input class="form-control"
                   name="sss-[% ss_spec.name | html %]" [% IF ss_spec.required %]required[% END %]
                   id="sss-[% ss_spec.name | html %]"
                   value="[% ss_spec.name | html %]"></code>
          </td>
          <td>
            [% IF ss_spec.separator %]
            <input class="form-control"
                   name="separator-[% ss_spec.name %]"
                   value="[% ss_spec.separator %]" />
            [% END %]
          </td>
        </tr>
      [% END %]
    </tbody>
  </table>
</form>
