<div>
  <div>
    <strong>[% loc('Username') %]:</strong>
    <span class="user-username"><code>[% username %]</code></span>
  </div>
  <div>
    <strong>[% loc('Password') %]:</strong>
    <span class="new-password"><code>[% password %]</code></span>
  </div>
</div>

<div>
  <a href="[% c.uri_for_action('/user/login') %]">
    [% loc('Now you can proceed to login.') %]
  </a>
</div>
