[% loc('The new password for [_1] is:', username) %]
<span class="new-password"><code>[% password %]</code></span>
<div>
  <a href="[% c.uri_for_action('/user/login') %]">
    [% loc('Now you can proceed to login.') %]
  </a>
</div>


