[% # -*- mode: html -*- %]

<div id="amw-embed-cloud">
  [% FOREACH cat IN cloud_categories %]
  <div class="amw-cloud-element amw-cloud-element-level-[% cat.cloud_level %]">
    <span class="label label-default" style="display: inline-block">
      <a class="amw-cloud-href" href="[% cat.full_uri %]">[% cat.name %] ([% cat.text_count %])</a>
    </span>
  </div>
  [% END %]
  <div class="clearfix"></div>
</div>
