[% # -*- mode: web -*- %]

<link rel="stylesheet" href="[% c.uri_for('/static/js/jodit/jodit.min.css') %]">
<script src="[% c.uri_for('/static/js/jodit/jodit.min.js') %]"></script>

<form id="ckform" method="post" enctype="multipart/form-data" class="form-horizontal">
  <div class="row">
    <div class="col-sm-6" id="new-text-metadata">
  <div id="choose-uri" class="form-group">
    <label class="col-sm-2 control-label mandatory" for="uri">[% loc('URI') %]</label>
    <div class="col-sm-10">
    <input class="form-control ajax-check-uri" type="text" name="uri" id="uri" size="50"
           value="[% processed_params.uri | html %]"
           required />
    <div class="check-success" style="display:none; color:green">
      <i class="fa fa-check"></i>
      [% loc('URI is available and valid') %]
    </div>
    <div class="check-failure" style="display:none">
      <i class="fa fa-warning" style="color:red"></i>
      <span class="check-message" style="color:red"></span>
    </div>
    <p class="help-block">
      [% loc('Please set the URI you desire. Author (if present),
        title and eventually a number if the URI already exists is
        usually a good choice') %]
      <br />
      [% loc('URI should be be an ASCII string, separated by hyphens, without spaces. E.g. my-author-title-1') %]
      <br />
      [% loc('If you leave it blank, it will be automatically populated') %]
    </p>
    </div>
  </div>
  <div id="create-block-title" class="form-group">
    <label for="title" class="col-sm-2 control-label mandatory">[% loc('Title') %]
      ([% loc('mandatory') %])
    </label>
    <div class="col-sm-10">
      <input class="form-control uri-maker" type="text" name="title"
           maxlength="250" id="title"
           size="30"
           value="[% processed_params.title | html %]"
           required
	   autofocus />
    <p class="help-block">
      [% loc('If by chance another text with the same author and title exists, choose the desired URI using the field below inserting author, title and a number, e.g. my-author-my-title-1') %].
      <a href="#choose-uri">
        <span class="fa fa-share"></span>
      </a>
    </p>
    </div>
  </div>

  <div id="create-block-subtitle" class="form-group">
    <label class="col-sm-2 control-label" for="subtitle">[% loc('Subtitle') %]</label>
    <div class="col-sm-10">
    <input class="form-control" type="text" name="subtitle" id="subtitle"
           maxlength="250"
           size="30"
           value="[% processed_params.subtitle | html %]" />
    </div>
  </div>

  [% IF f_class == 'text' %]

  <div id="create-block-listtitle" class="form-group">
    <label class="col-sm-2 control-label" for="LISTtitle">[% loc('Title for sorting') %]</label>
    <div class="col-sm-10">
    <input class="form-control" type="text" name="LISTtitle" id="LISTtitle"
           maxlength="250" size="30"
           value="[% processed_params.LISTtitle | html %]" />
    <p class="help-block">
      [% loc('You may want to strip the leading “A”, “An”, “The”, and so on from the title') %].
    </p>
    </div>
  </div>

  <div id="create-block-author" class="form-group">
    <label class="col-sm-2 control-label" for="author">[% loc('Author') %]</label>
    <div class="col-sm-10">
    <input class="form-control amwautocomplete uri-maker"
           type="text" name="author" id="author"
           data-category-type="displayed_author"
               maxlength="250"
               value="[% processed_params.author | html %]" />
    <p class="help-block">
      ([% loc('Display only, this goes into the title page') %])
    </p>
    </div>
  </div>

  [% FOREACH cct IN site.custom_category_types %]
    [% SET cct_name = cct.header %]
    [% IF cct.active && !cct.custom_form %]
      <div id="create-block-[% cct_name %]" class="form-group">
        <label class="col-sm-2 control-label" for="cct-[% cct_name %]">
          [% IF cct.generate_index %]
            [% loc(cct.name_plural) %]
          [% ELSE %]
            [% loc(cct.name_singular) %]
          [% END %]
        </label>
        <div class="col-sm-10">
        <input id="cct-[% cct_name %]" class="form-control[% IF cct.generate_index %] amwautocomplete[% END %]"
               data-category-type="[% cct.category_type %]"
               maxlength="250" name="[% cct_name %]"
               value="[% processed_params.$cct_name | html %]">
        [% IF cct.generate_index || cct.description%]
          <p class="help-block">
            [% IF cct.description %]
              [% cct.description | html %]
            [% END %]
            [% IF cct.generate_index %]
              [% loc('Comma or semicolon separated list') %]
            [% END %]
          </p>
        [% END %]
        </div>
      </div>
    [% END %]
  [% END %]

  [% IF site.fixed_category_list %]
  <div id="fixed-category-choose" class="form-group">
    <label class="col-sm-2 control-label">[% loc('Categories') %]</label>
    <div class="col-sm-10">
    [% FOREACH cat IN site.list_fixed_categories %]
    <div class="checkbox">
      <label>
        [% fixed_cat_name = "fixed_cat_" _ cat %]
        <input type="checkbox"
               [% IF c.req.params.$fixed_cat_name %]checked="checked"[% END %]
               name="[% fixed_cat_name %]" value="[% cat %]"/>
        [% loc(cat) %]
      </label>
    </div>
    [% END %]
    </div>
  </div>
  [% END %]

  <div id="create-block-date" class="form-group">
    <label class="col-sm-2 control-label"
           for="date">[% loc('Date') %]</label>
    <div class="col-sm-10">
    <input class="form-control" id="date"
           size="50"
           maxlength="250"
           name="date"
           value="[% processed_params.date | html %]" />
    <p class="help-block">
      [% loc('Date of the original publication') %]
    </p>
    </div>
  </div>
  [% FOREACH builtindir IN site.built_in_directives %]
    [% SET builtindir_name = builtindir.name %]
    [% IF builtindir.active %]
      <div class="form-group">
        <label class="col-sm-2 control-label" for="[% builtindir_name %]">
          [% loc(builtindir.description) %]
        </label>
        <div class="col-sm-10">
        <input class="form-control" id="[% builtindir_name %]"
               size="50"
               maxlength="250"
               name="[% builtindir_name %]"
               value="[% processed_params.$builtindir_name | html %]" />
        </div>
      </div>
    [% END %]
  [% END %]

  <div id="create-block-source" class="form-group">
    <label class="col-sm-2 control-label" for="source">[% loc('Source') %]</label>
    <div class="col-sm-10">
    <input class="form-control" id="source" size="50" maxlength="250"
               name="source" value="[% processed_params.source | html %]" />
    <p class="help-block">
      [% loc('For texts from the internet use') %]:
      <code>[% loc('Retrieved on DATE from URL') %]</code>.
    </p>
    </div>
  </div>
  [% END %]

  [% IF site.multilanguage %]
  <div id="create-block-uid" class="form-group">
    <label class="col-sm-2 control-label" for="text-uid">[% loc('Unique ID') %]</label>
    <div class="col-sm-10">
    <input class="form-control" name="uid" id="text-uid" type="text"
           value="[% c.req.params.uid | html %]" />
    <p class="help-block">
      [% loc('This should be set if you want to generate translation relationships between texts. If you set the same ID (an arbitrary string) on two different texts, they will appear as the same text in different languages.') %]
    </p>
    </div>
  </div>
  [% END %]

  <div id="create-block-lang" class="form-group">
    [% SET current_language = processed_params.lang || current_locale_code %]
    <label class="col-sm-2 control-label"for="lang">[% loc('Language') %]</label>
    <div class="col-sm-10">
    <select name="lang" id="lang" class="form-control uri-maker">

    [% known_langs = site.known_langs %]
    [% FOREACH lang IN known_langs.keys.sort %]
    <option [% IF current_language == lang %]selected="selected"[% END %]
            value="[% lang %]">
      [% known_langs.$lang %]
    </option>
    [% END %]
    </select>
    </div>
  </div>

  [% IF site.sl_pdf %]
    <div class="form-group">
  <div id="create-block-slides" class="checkbox col-sm-offset-2 col-sm-10">
    <label>
      <input type="checkbox"
             [% IF c.req.params.slides %]checked="checked"[% END %]
             name="slides" value="yes"/>
      <strong>[% loc('Produce slides.') %]</strong> [% loc('Every
        section will generate a slide. You need to do proper
        sectioning for this to work.') %]
    </label>
  </div>
    </div>
  [% END %]

  <div id="create-block-pubdate" class="form-group">
    <label class="col-sm-2 control-label" for="pubdate">[% loc('Publication date on this site') %]</label>
    <div class="col-sm-10">
    <input class="form-control" id="pubdate"
           type="date"
           value="[% processed_params.pubdate | html %]"
           name="pubdate" />
    <p class="help-block">
      [% loc('Leave it blank if you want it published right away.') %]
      [% loc('Set a date in the future if you want it deferred.') %]
    </p>
    </div>
  </div>
  [% IF node_selections %]
    <div class="form-group">
      <label class="col-sm-2 control-label"
             for="node_id">[% loc('Assign text to collections') %]</label>
      <div class="col-sm-10">
      <select id="node_id" name="node_id" class="form-control" multiple>
        [% FOREACH node IN node_selections %]
          <option value="[% node.value %]"[% IF node.checked %] selected="selected"[% END %]>[% node.title %]</option>
        [% END %]
      </select>
      </div>
    </div>
  [% END %]
  [% IF aggregation_selections %]
    <div class="form-group">
      <label class="col-sm-2 control-label"
             for="aggregation_id">[% loc('Assign text to aggregations') %]</label>
      <div class="col-sm-10">
      <select id="aggregation_id" name="aggregation_id" class="form-control" multiple>
        [% FOREACH agg IN aggregation_selections %]
          <option value="[% agg.value | html %]"[% IF agg.checked %] selected="selected"[% END %]>[% agg.title | html %]</option>
        [% END %]
      </select>
      </div>
    </div>
  [% END %]


    </div>
    <div class="col-sm-6" id="new-text-textareas">
  <div id="create-block-muse-body">
  <h3 style="margin-top: 0px">[% loc('Text body') %]</h3>
  <div>
    <p class="help-block">
      [% loc('This is a WYSIWYG editor. If you prefer to use
        the wiki-like syntax leave it as is, fill the required fields
        above and postpone the editing to the next step.') %]
      <br>
      [% loc('You can paste from a Word/OpenOffice/LibreOffice/HTML document and the most relevant formatting will be preserved (bold, italics, headers)') %]
      <br>
      [% loc('Image uploading and table formatting may be done on the next step, when you can review and preview the upload.') %]
    </p>
  </div>
  <div>
    <textarea id="textbody" name="textbody" cols="80"
              rows="20">[%- processed_params.textbody | html -%]</textarea>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for="texthtmlfile">[% loc('Or provide an HTML file to upload') %]</label>
    <div class="col-sm-8">
    <input id="texthtmlfile" name="texthtmlfile" type="file"  style="margin-top: 10px"/>
    <p class="help-block">
      [% loc('You can upload only an HTML file. Any other format (.doc, .odt, .docx, etc.) needs to be converted to HTML first. You can do that easily with e.g. LibreOffice and upload the resulting .html file.') %]
    </p>
    </div>
  </div>
  </div>
  [% IF f_class == 'text' %]
    <div id="create-block-notes">
  <h3 style="margin-top: 0">[% loc('Notes') %]</h3>
  <div>
    <p class="help-block">
    [% loc('Put additional information here (original
	  title, translators, credits, etc). Footnotes go in the
	  body.') %]
    </p>
  </div>
  <div>
    <textarea id="notes" name="notes" cols="80"
              rows="5">[%- processed_params.notes | html %]</textarea>
  </div>
    </div>
  [% END %]

  [% IF blog_style %]
  [% IF f_class == 'text' %]
    <div id="create-block-teaser">
  <h3 style="margin-top: 10px">[% loc('Teaser') %]</h3>
  <div>
    <p class="help-block">
    [% loc('The text to show on the homepage preview') %]
  [% IF site.automatic_teaser %]
    <br>
    <strong>[% loc('Leave this empty to have it automatically generated') %]</strong>
  [% END %]
    </p>
  </div>
  <div>
    <textarea id="teaser" name="teaser" cols="80"
              rows="10">[%- processed_params.teaser | html %]</textarea>
  </div>
    </div>
  [% END %]
  [% END %]
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p class="text-center">
        <button type="submit" class="btn btn-default"
                name="go" value="go">
          [% loc('Create') %]
        </button>
      </p>
    </div>
  </div>
</form>

<script type="text/javascript">
  $(document).ready(function() {
      if (document.getElementById('textbody')) {
          const buttons = [
              'paragraph',
              'bold', 'italic',
              'ul', 'ol',
              'undo', 'redo',
              'cut', 'copy', 'paste',
              'fullsize',
              'source'
          ];
          Jodit.make('#textbody', {
              buttons: [ ...buttons ],
              buttonsXS: [ ...buttons ],
              buttonsSM: [ ...buttons ],
              buttonsMD: [ ...buttons ],
              height: 350,
          });
      }
      if (document.getElementById('notes')) {
          Jodit.make('#notes', {
              buttons: ['bold', 'italic' ],
              buttonsXS: ['bold', 'italic' ],
              buttonsSM: ['bold', 'italic' ],
              buttonsMD: ['bold', 'italic' ],
              minHeight: 100,
              height: 120,
          });
      }
      if (document.getElementById('teaser')) {
          Jodit.make('#teaser', {
              buttons: ['bold', 'italic' ],
              buttonsXS: ['bold', 'italic' ],
              buttonsSM: ['bold', 'italic' ],
              buttonsMD: ['bold', 'italic' ],
              minHeight: 100,
              height: 120,
          });
      }
     function check_uri() {
          var query = { uri: $('#uri').val() };
          var label = $('#choose-uri').find('label');
          $.post("[% c.uri_for_action('/api/check_existing_uri') %]", query, function(data) {
              console.log(data);
              label.removeClass('mandatory');
              $('.check-failure').hide();
              $('.check-success').hide();
              if (data.success) {
                  $('.check-success').show();
                  has_manual_uri = true;
              }
              else {
                  if (!query.uri) {
                      has_manual_uri = false;
                  }
                  label.addClass('mandatory');
                  $('.check-failure').find('.check-message').text(data.error)
                  $('.check-failure').show();
              }
          });
     }
       function build_uri() {
           if ($('#uri').data('has_manual_uri')) {
               return;
           }
           var data = {};
           $('.uri-maker').each(function() {
               var el = $(this);
               data[el.attr('name')] = el.val();
           })
           $.post("[% c.uri_for_action('/api/get_generated_uri') %]", data, function(data) {
               console.log(data);
               if (data.uri) {
                   $('#uri').val(data.uri);
                   check_uri();
               }
               else if (data.error) {
                   alert(data.error);
               }
           });
       }
      build_uri();
     $('.uri-maker').on('keyup', build_uri);
     $('#uri').on('keyup', function() {
         console.log("Updated #uri");
         if ($(this).val() && !$('#uri').data('has_manual_uri')) {
             console.log("Setting has_manual_uri to true");
             $('#uri').data('has_manual_uri', true);
         }
         else if (!$(this).val() && $('#uri').data('has_manual_uri')) {
             console.log("Setting has_manual_uri to false");
             $('#uri').data('has_manual_uri', false);
         }
         check_uri();
     });

  });
</script>

[% IF f_class == 'text' %]

<script type="text/javascript">
    $(document).ready(function() {
        $('#node_id').select2();
        $('#aggregation_id').select2();
        var separator = /[;,]\s*/;
        var all_terms = {};
        $('.amwautocomplete').each(function () {
            var el = $(this);
            var key = el.data('category-type');
            $.ajax({
                url: "/api/autocompletion/" + key,
                dataType: 'json',
                success: function(available) {
                    el.bind("keydown", function(event) {
                        if (event.keyCode === $.ui.keyCode.TAB &&
                            $(this).data( "ui-autocomplete" ).menu.active ) {
                            event.preventDefault();
                        }
                    }).autocomplete({
                        minLength: 0,
                        source: function( request, response ) {
                            // delegate back to autocomplete, but extract the last term
                            response( $.ui.autocomplete.filter(
                                available, request.term.split(separator).pop()));
                        },
                        focus: function() {
                            return false;
                        },
                        select: function(event, ui) {
                            var terms = this.value.split(separator);
                            terms.pop();
                            terms.push(ui.item.value);
                            this.value = terms.join( ", " );
                            return false;
                        }
                    });
                }
            });
        });
    });
</script>

[% END %]
