# -*- mode: conf -*-

server {
	server_name site1.amusewiki.org site2.amusewiki.org;
	root /home/amuse/amusewiki/root;
	location = /rss.xml {
		rewrite ^/rss\.xml$ /feed permanent;
	}
	location /src {
		deny all;
	}
	location /themes {
		deny all;
	}
	location / {
		try_files $uri @proxy;
		expires max;
	}
	location @proxy {
    # or
    # include /etc/nginx/fastcgi_params;
    # fastcgi_param SCRIPT_NAME '';
    # fastcgi_param PATH_INFO   $fastcgi_script_name;
		include proxy_params;
		proxy_pass http://127.0.0.1:5001;
	}
}
