[Unit]
Description=Amusewiki jobber
After=nss-user-lookup.target

[Service]
WorkingDirectory=/var/lib/amusewiki
User=amusewiki
Group=amusewiki
Environment="PATH=/opt/amusewiki-texlive/current/bin/arch:/usr/local/bin:/usr/bin:/bin"
ExecStart=/usr/bin/amusewiki-jobber
Restart=always

[Install]
WantedBy=multi-user.target

