[Unit]
Description=Amusewiki web server
After=nss-user-lookup.target

[Service]
WorkingDirectory=/var/lib/amusewiki
User=amusewiki
Group=amusewiki
ExecStart=/usr/bin/plackup -s FCGI --listen /var/lib/amusewiki/amusewiki.socket --nproc 5 -E deployment /usr/share/perl5/AmuseWikiFarm/psgi/amusewiki.psgi
Restart=always

[Install]
WantedBy=multi-user.target

