#!/bin/sh

set -e
#set -x

if [ -f /usr/share/debconf/confmodule ]; then
    . /usr/share/debconf/confmodule
fi

if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
    dbc_load_include="perl:/usr/share/doc/amusewiki/amusewiki-dbconfig-import.pl"
    dbc_first_version="1.994"
	dbc_dbtypes="pgsql, mysql, sqlite3"
	dbc_authmethod_user="password"
	. /usr/share/dbconfig-common/dpkg/config
	dbc_go amusewiki $@
fi


#DEBHELPER#
