[Unit]
Description=Amusewiki CGIT server
After=nss-user-lookup.target

[Service]
WorkingDirectory=/var/lib/amusewiki
User=www-data
Group=www-data
ExecStart=/usr/bin/plackup --path /git --port 7015 --host 127.0.0.1 /usr/share/perl5/AmuseWikiFarm/psgi/amusewiki-cgit.psgi
Restart=always

[Install]
WantedBy=multi-user.target

