Source: amusewiki
Section: perl
Priority: optional
Maintainer: packager <melmothx@gmail.com>
Build-Depends: debhelper (>= 9), dh-systemd
Build-Depends-Indep: libcam-pdf-perl,
 libcatalyst-action-renderview-perl,
 libcatalyst-authentication-store-dbix-class-perl,
 libcatalyst-model-adaptor-perl (>= 0.10),
 libcatalyst-perl (>= 5.90075),
 libcatalyst-plugin-authentication-perl,
 libcatalyst-plugin-authorization-roles-perl,
 libcatalyst-plugin-configloader-perl,
 libcatalyst-plugin-i18n-perl,
 libcatalyst-plugin-session-perl,
 libcatalyst-plugin-session-state-cookie-perl,
 libcatalyst-plugin-session-store-fastmmap-perl,
 libcatalyst-view-email-perl,
 libcatalyst-view-tt-perl,
 libcrypt-xkcdpassword-perl,
 libdaemon-control-perl,
 libdatetime-format-mysql-perl,
 libdatetime-format-pg-perl,
 libdatetime-format-sqlite-perl,
 libdatetime-perl,
 libdbd-sqlite3-perl,
 libdbix-class-deploymenthandler-perl,
 libdbix-class-helpers-perl,
 libdbix-class-passphrasecolumn-perl,
 libdbix-class-perl,
 libdbix-class-schema-config-perl,
 libdbix-class-schema-loader-perl,
 libemail-valid-perl,
 libfcgi-perl,
 libfcgi-procmanager-perl,
 libfile-copy-recursive-perl,
 libfile-mimeinfo-perl,
 libgit-wrapper-perl,
 libjson-perl,
 libjson-xs-perl,
 liblog-contextual-perl,
 liblog-dispatch-file-stamped-perl,
 liblog-dispatch-perl,
 liblog-log4perl-perl,
 libmailtools-perl,
 libmime-types-perl (>= 2.04),
 libmoose-perl,
 libmoosex-markasmethods-perl,
 libmoosex-nonmoose-perl,
 libnamespace-autoclean-perl,
 libpdf-imposition-perl (>= 0.21),
 libplack-middleware-etag-perl,
 libplack-perl,
 libsearch-xapian-perl,
 libsql-translator-perl,
 libterm-size-any-perl,
 libtest-www-mechanize-catalyst-perl,
 libtext-amuse-compile-perl (>= 0.54),
 libtext-amuse-perl (>= 0.54),
 libtext-amuse-preprocessor-perl (>= 0.25),
 libtext-unidecode-perl (>= 1.22),
 libtext-wrapper-perl,
 libtimedate-perl,
 libxml-feedpp-perl (>= 0.43),
 perl (>= 5.15.2)
Standards-Version: 3.9.6
Homepage: https://metacpan.org/release/AmuseWikiFarm

Package: amusewiki
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libcatalyst-action-renderview-perl,
 libcatalyst-authentication-store-dbix-class-perl,
 libcatalyst-model-adaptor-perl (>= 0.10),
 libcatalyst-perl (>= 5.90075),
 libcatalyst-plugin-authentication-perl,
 libcatalyst-plugin-authorization-roles-perl,
 libcatalyst-plugin-configloader-perl,
 libcatalyst-plugin-i18n-perl,
 libcatalyst-plugin-session-perl,
 libcatalyst-plugin-session-state-cookie-perl,
 libcatalyst-plugin-session-store-fastmmap-perl,
 libcatalyst-view-email-perl,
 libcatalyst-view-tt-perl,
 libcrypt-xkcdpassword-perl,
 libdaemon-control-perl,
 libdatetime-format-mysql-perl,
 libdatetime-format-pg-perl,
 libdatetime-format-sqlite-perl,
 libdatetime-perl,
 libdbd-sqlite3-perl,
 libdbix-class-deploymenthandler-perl,
 libdbix-class-helpers-perl,
 libdbix-class-passphrasecolumn-perl,
 libdbix-class-perl,
 libdbix-class-schema-config-perl,
 libdbix-class-schema-loader-perl,
 libemail-valid-perl,
 libfcgi-perl,
 libfcgi-procmanager-perl,
 libfile-copy-recursive-perl,
 libfile-mimeinfo-perl,
 libgit-wrapper-perl,
 libjson-perl,
 libjson-xs-perl,
 liblog-contextual-perl,
 liblog-dispatch-file-stamped-perl,
 liblog-dispatch-perl,
 liblog-log4perl-perl,
 libmailtools-perl,
 libmime-types-perl (>= 2.04),
 libmoose-perl,
 libmoosex-markasmethods-perl,
 libmoosex-nonmoose-perl,
 libnamespace-autoclean-perl,
 libpdf-imposition-perl (>= 0.21),
 libplack-middleware-etag-perl,
 libplack-perl,
 libsearch-xapian-perl,
 libsql-translator-perl,
 libterm-size-any-perl,
 libtest-www-mechanize-catalyst-perl,
 libtext-amuse-compile-perl (>= 0.54),
 libtext-amuse-perl (>= 0.54),
 libtext-amuse-preprocessor-perl (>= 0.25),
 libtext-unidecode-perl (>= 1.22),
 libtext-wrapper-perl,
 libtimedate-perl,
 libxml-feedpp-perl (>= 0.43),
 perl (>= 5.13.9)
Description: Catalyst based application
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.
