Source: amusewiki
Section: perl
Priority: optional
Maintainer: melmothX <melmothx@gmail.com>
Build-Depends: debhelper (>= 9), dh-systemd
Build-Depends-Indep: libbytes-random-secure-perl,
 libcam-pdf-perl,
 libcatalyst-action-renderview-perl,
 libcatalyst-authentication-store-dbix-class-perl,
 libcatalyst-model-adaptor-perl (>= 0.10),
 libcatalyst-perl (>= 5.90075),
 libcatalyst-plugin-authentication-perl,
 libcatalyst-plugin-authorization-roles-perl,
 libcatalyst-plugin-configloader-perl,
 libcatalyst-plugin-session-perl,
 libcatalyst-plugin-session-state-cookie-perl,
 libcatalyst-plugin-session-store-fastmmap-perl,
 libcatalyst-view-tt-perl,
 libcatalyst-view-json-perl,
 libjson-maybexs-perl,
 libdata-dumper-concise-perl,
 libcrypt-xkcdpassword-perl,
 libcrypt-openssl-x509-perl,
 libprotocol-acme-perl,
 libdaemon-control-perl,
 libdatetime-format-mysql-perl,
 libdatetime-format-pg-perl,
 libdatetime-format-sqlite-perl,
 libdatetime-format-strptime-perl,
 libdatetime-perl,
 libdbd-sqlite3-perl,
 libdbix-class-deploymenthandler-perl,
 libdbix-class-helpers-perl,
 libdbix-class-passphrasecolumn-perl,
 libdbix-class-perl,
 libdbix-class-schema-config-perl,
 libdbix-class-schema-loader-perl,
 libemail-mime-kit-perl,
 libemail-mime-kit-renderer-tt-perl,
 libemail-sender-perl,
 libemail-valid-perl,
 libregexp-common-perl,
 libfcgi-perl,
 libfcgi-procmanager-perl,
 libfile-copy-recursive-perl,
 libfile-mimeinfo-perl,
 libgit-wrapper-perl,
 libhtml-parser-perl,
 libhtml-tree-perl,
 libhttp-browserdetect-perl,
 liblog-contextual-perl,
 liblog-dispatch-file-stamped-perl,
 liblog-dispatch-perl,
 liblog-log4perl-perl,
 libmailtools-perl,
 libmime-types-perl (>= 2.04),
 libmoo-perl,
 libpath-tiny-perl,
 liblocale-maketext-lexicon-perl,
 liblocale-po-perl,
 libmoose-perl,
 libmoosex-markasmethods-perl,
 libmoosex-nonmoose-perl,
 libnamespace-autoclean-perl,
 libpdf-imposition-perl (>= 0.24),
 libplack-middleware-etag-perl,
 libplack-perl,
 libsearch-xapian-perl,
 libsql-translator-perl,
 libterm-size-any-perl,
 libtest-www-mechanize-catalyst-perl,
 libtext-amuse-compile-perl (>= 0.95),
 libtext-amuse-perl (>= 0.90),
 libtext-amuse-preprocessor-perl (>= 0.41),
 libtext-unidecode-perl (>= 1.22),
 libtext-wrapper-perl,
 libtimedate-perl,
 libxml-feedpp-perl (>= 0.43),
 libxml-atom-perl (>= 0.41),
 libxml-opds-perl (>= 0.05),
 libtest-differences-perl,
 libtest-www-mechanize-perl,
 libtest-memory-cycle-perl,
 graphicsmagick,
 imagemagick,
 perl (>= 5.15.2),
 poppler-utils,
 git, fontconfig,
 fonts-cmu, fonts-texgyre,
 fonts-cormorant-garamond,
 fonts-sil-gentium-basic,
 fonts-antykwa-poltawskiego, fonts-antykwa-torunska, fonts-nowacki,
 fonts-dejavu, fonts-linuxlibertine, fonts-sil-charis,
 fonts-paratype, lmodern, fonts-lmodern,
 fonts-alegreya, fonts-alegreyasans, fonts-anonymouspro,
 fonts-archivonarrow, fonts-arvo, fonts-crimsontext,
 fonts-firasans, fonts-karla,
 fonts-librefranklin, fonts-lora, fonts-merriweather, fonts-poppins,
 fonts-rubik, fonts-sourcesanspro, fonts-spacemono, fonts-vollkorn,
 texlive-base, texlive-latex-base, texlive-latex-recommended, texlive-latex-extra,
 texlive-generic-recommended, texlive-fonts-recommended,
 texlive-luatex, texlive-xetex, texlive-lang-all
Standards-Version: 3.9.6
Homepage: https://amusewiki.org

Package: amusewiki
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 dbconfig-common,
 postgresql | mysql-server | sqlite3,
 postgresql-client, mysql-client, sqlite3,
 adduser,
 sudo,
 libbytes-random-secure-perl,
 libcatalyst-action-renderview-perl,
 libcatalyst-authentication-store-dbix-class-perl,
 libcatalyst-model-adaptor-perl (>= 0.10),
 libcatalyst-perl (>= 5.90075),
 libcatalyst-plugin-authentication-perl,
 libcatalyst-plugin-authorization-roles-perl,
 libcatalyst-plugin-configloader-perl,
 libcatalyst-plugin-session-perl,
 libcatalyst-plugin-session-state-cookie-perl,
 libcatalyst-plugin-session-store-fastmmap-perl,
 libcatalyst-view-tt-perl,
 libcatalyst-view-json-perl,
 libjson-maybexs-perl,
 libdata-dumper-concise-perl,
 libcrypt-xkcdpassword-perl,
 libcrypt-openssl-x509-perl,
 libprotocol-acme-perl,
 libdaemon-control-perl,
 libdatetime-format-mysql-perl,
 libdatetime-format-pg-perl,
 libdatetime-format-sqlite-perl,
 libdatetime-format-strptime-perl,
 libdatetime-perl,
 libdbd-sqlite3-perl, libdbd-mysql-perl, libdbd-pg-perl,
 libdbix-class-deploymenthandler-perl,
 libdbix-class-helpers-perl,
 libdbix-class-passphrasecolumn-perl,
 libdbix-class-perl,
 libdbix-class-schema-config-perl,
 libdbix-class-schema-loader-perl,
 libemail-mime-kit-perl,
 libemail-mime-kit-renderer-tt-perl,
 libemail-sender-perl,
 libemail-valid-perl,
 libregexp-common-perl,
 libfcgi-perl,
 libfcgi-procmanager-perl,
 libfile-copy-recursive-perl,
 libfile-mimeinfo-perl,
 libgit-wrapper-perl,
 libhttp-browserdetect-perl,
 libhtml-parser-perl,
 libhtml-tree-perl,
 liblog-contextual-perl,
 liblog-dispatch-file-stamped-perl,
 liblog-dispatch-perl,
 liblog-log4perl-perl,
 libmailtools-perl,
 libmime-types-perl (>= 2.04),
 libmoo-perl,
 libpath-tiny-perl,
 liblocale-maketext-lexicon-perl,
 liblocale-po-perl,
 libmoose-perl,
 libmoosex-markasmethods-perl,
 libmoosex-nonmoose-perl,
 libnamespace-autoclean-perl,
 libpdf-imposition-perl (>= 0.24),
 libplack-middleware-etag-perl,
 libplack-perl,
 libsearch-xapian-perl,
 libsql-translator-perl,
 libterm-size-any-perl,
 libtest-www-mechanize-catalyst-perl,
 libtext-amuse-compile-perl (>= 0.95),
 libtext-amuse-perl (>= 0.90),
 libtext-amuse-preprocessor-perl (>= 0.41),
 libtext-unidecode-perl (>= 1.22),
 libtext-wrapper-perl,
 libtimedate-perl,
 libxml-feedpp-perl (>= 0.43),
 libxml-atom-perl (>= 0.41),
 libxml-opds-perl (>= 0.05),
 graphicsmagick,
 perl (>= 5.13.9),
 libjs-highlight.js,
 libcgi-emulate-psgi-perl,
 libcgi-compile-perl,
 cgit, ckeditor, nginx, git, fontconfig,
 fonts-cmu, fonts-texgyre,
 fonts-cormorant-garamond,
 fonts-sil-gentium-basic,
 fonts-antykwa-poltawskiego, fonts-antykwa-torunska, fonts-nowacki,
 fonts-dejavu, fonts-linuxlibertine, fonts-sil-charis,
 fonts-paratype, lmodern, fonts-lmodern,
 fonts-alegreya, fonts-alegreyasans, fonts-anonymouspro,
 fonts-archivonarrow, fonts-arvo, fonts-crimsontext,
 fonts-firasans, fonts-karla,
 fonts-librefranklin, fonts-lora, fonts-merriweather, fonts-poppins,
 fonts-rubik, fonts-sourcesanspro, fonts-spacemono, fonts-vollkorn,
 texlive-base, texlive-latex-base, texlive-latex-recommended, texlive-latex-extra,
 texlive-generic-recommended, texlive-fonts-recommended,
 texlive-luatex, texlive-xetex, texlive-lang-all
Description: library-oriented wiki engine, publishing and authoring platform
 Features: Multi-site engine, user-friendly markup borrowed from Emacs
 Muse, importing of HTML documents preserving most of the logical
 markup, wide range of output formats, including high-quality PDF (via
 LaTeX) and EPUB, automatic generation of PDF for printing, collection
 creation and PDF reformatting, Git backend.
