#!/usr/bin/make -f
PACKAGE = $(shell dh_listpackages)
TMP     = $(CURDIR)/debian/$(PACKAGE)

%:
	dh $@ --with systemd

override_dh_systemd_enable:
	install -d $(TMP)/lib/systemd/system
	install -p -m644 $(CURDIR)/debian/amusewiki-cgit.service $(TMP)/lib/systemd/system/
	install -p -m644 $(CURDIR)/debian/amusewiki-web.service $(TMP)/lib/systemd/system/
	install -p -m644 $(CURDIR)/debian/amusewiki-jobber.service $(TMP)/lib/systemd/system/
	dh_systemd_enable

# no parallel
override_dh_auto_build:
	dh_auto_build --max-parallel=1

# fix shebang and remove the use 'lib' stuff
override_dh_auto_install:
	dh_auto_install
	mkdir $(TMP)/etc
	cat $(CURDIR)/debian/amusewiki-debian-config.conf > $(TMP)/etc/amusewiki.conf
	ln -sf ../../../../etc/amusewiki.conf $(TMP)/usr/share/perl5/AmuseWikiFarm/amusewikifarm.conf
	sed -i '1s,^#!.*perl,#!/usr/bin/perl,' $(TMP)/usr/bin/amusewiki-*
	sed -i "/^use lib 'lib';/s/^/# /" $(TMP)/usr/bin/amusewiki-*
