#!/usr/bin/make -f
PACKAGE = $(shell dh_listpackages)
TMP     = $(CURDIR)/debian/$(PACKAGE)

%:
	dh $@ --with systemd

override_dh_systemd_enable:
	install -d $(TMP)/lib/systemd/system
	install -p -m644 $(CURDIR)/debian/amusewiki-cgit.service $(TMP)/lib/systemd/system/
	install -p -m644 $(CURDIR)/debian/amusewiki-web.service $(TMP)/lib/systemd/system/
	install -p -m644 $(CURDIR)/debian/amusewiki-jobber.service $(TMP)/lib/systemd/system/
	dh_systemd_enable
