<!DOCTYPE html>
<html lang="[% current_locale_code %]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="AmuseWiki" />
    [% IF site.has_site_file('favicon.ico') %]
    <link rel="shortcut icon"
          href="[% c.uri_for_action('/sitefiles/local_files',
                                    [ site.id, 'favicon.ico']) %]" />
    [% END %]
    <link rel="search" href="[% c.uri_for_action('/search/opensearch') %]"
          type="application/opensearchdescription+xml"
          title="[% site.sitename | html %]">
    <link rel="alternate" type="application/rss+xml"
          title="[% site.sitename | html %]" href="[% c.uri_for('/feed') %]" />
    <link rel="related" type="application/atom+xml;profile=opds-catalog;kind=navigation"
          href="[% c.uri_for_action('/opds/start') %]" title="[% loc('OPDS') %]"/>
    [% IF base_url %]<base href="[% base_url %]" />[% END %]
    <title>
      [%- IF page_title -%]
      [%- page_title | html -%] |
      [%- END %] [% site.sitename | html -%]</title>

    [%- UNLESS please_index -%]
    <meta name="robots" content="noindex,nofollow" />
    [%- END -%]

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript"
            src="[% c.uri_for('/static/js/jquery-1.11.1.min.js') %]">
    </script>
    <link rel="stylesheet"
          href="[% IF bootstrap_css %][% bootstrap_css %][% ELSE %][% c.uri_for('/static/css/bootstrap.css') %][% END %]" />

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript"
            src="[% c.uri_for('/static/js/bootstrap.min.js', { v => 4 }) %]">
    </script>

    <!-- jquery-ui for the highlight effect everywhere and autocompletion
         source in [% c.uri_for('/static/js/jquery-ui-1.10.4.custom.js') %] -->

    <script type="text/javascript"
            src="[% c.uri_for('/static/js/jquery-ui-1.10.4.custom.min.js') %]" >
    </script>

    [%- IF nav == 'console' -%]
    <script type="text/javascript"
            src="[% c.uri_for('/static/js/select2/select2.min.js') %]" >
    </script>
    <link rel="stylesheet"
          href="[% c.uri_for('/static/css/select2/select2.css') %]" />
    <link rel="stylesheet"
          href="[% c.uri_for('/static/css/select2/select2-bootstrap.css') %]" />
    [%- END -%]

    [% IF load_highlight %]
    [% IF c.model('Webserver').highlight_use_cdn %]
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
    [% ELSE %]
    <link rel="stylesheet" href="[% c.uri_for('/static/js/highlight/styles/default.css') %]">
    <script src="[% c.uri_for('/static/js/highlight/highlight.min.js') %]"></script>
    [% END %]
    <script type="text/javascript">
      $(document).ready(function() {
          hljs.configure([% load_highlight %]);
          $('pre.example').each(function(i, block) {
              hljs.highlightBlock(block);
          });
      });
     </script>
    [% END %]

    [%# markitup css -- maybe make it conditional %]
    <link rel="stylesheet" type="text/css"
          href="[% c.uri_for('/static/js/markitup/skins/amw/style.css') %]" />
    <link rel="stylesheet" type="text/css"
          href="[% c.uri_for('/static/js/markitup/sets/muse/style.css') %]" />

    [%# base css for amuse texts %]
    <link rel="stylesheet" type="text/css"
          href="[% c.uri_for('/static/css/amuse.css', { v => 2 }) %]" />

    [%# our css for the web application %]
    <link rel="stylesheet" type="text/css"
          href="[% c.uri_for('/static/css/amusewiki.css', { v => 24 }) %]" />
    <script src="[% c.uri_for('/static/js/amuse.js', { v => 1 }) %]"></script>
    <script type="text/javascript">
      function amw_confirm() { return confirm('[% lh.loc('Are you sure?') | escape_js %]') }
    </script>
    [%- IF cgit_page %]
    <link rel="stylesheet" type="text/css"
          href="[% c.uri_for('/static/css/cgit.css', { v => 3 }) %]" />
    [%- END %]

    [%- IF site.has_site_file('local.css') -%]
    <link rel="stylesheet" type="text/css"
          href="[% c.uri_for_action('/sitefiles/local_files',
                                    [ site.id, 'local.css']) %]" />
    [%- END %]
    [%- IF site.has_site_file('local.js') %]
    <script type="text/javascript"
            src="[% c.uri_for_action('/sitefiles/local_files',
                                    [ site.id, 'local.js']) %]">
    </script>
    [%- END -%]
    <script type="text/javascript">
      var shiftWindow = function() { scrollBy(0, -50) };
      window.addEventListener("hashchange", shiftWindow);
      function amw_load_page() { if (window.location.hash) { shiftWindow(); } };
    </script>

  </head>
  <body onload="amw_load_page()">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span>
          [%- IF site.has_site_file('navlogo.png') -%]
          <a class="amw-navlogo" href="[% c.uri_for('/') %]">
            <img src="[% c.uri_for_action('/sitefiles/local_files',
                      [ site.id, 'navlogo.png' ]) %]"
                 title="[% site.sitename | html %]"
                 class="amw-navlogo-img"
                 alt="[% site.sitename | html %]" />
          </a>
          [% ELSE %]
          <a class="navbar-brand" href="[% c.uri_for('/') %]"
             title="[% site.sitename | html %]">
            <small>[%  site.sitename | html %]</small>
          </a>
          [%- END -%]
          </span>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right"
                method="get" role="search"
                id="formsearchbox" action="[% c.uri_for('/search') %]">
            <div class="form-group">
              <div class="input-group">
		        <input type="text" class="form-control"
                       placeholder="[% loc('Search') %]"
                       name="query" value=""/>
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </div>
              </div>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden-when-no-toc" style="display:none">
              <a class="amw-navlogo" href="#"
                 data-toggle="modal"
                 title="[% loc('Table of Contents') %]"
                 data-target="#myModal">
                <span class="glyphicon glyphicon-list text-primary"></span>
                <span class=" visible-xs-inline">
                  [% loc('Table of Contents') %]
                </span>
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                 title="[% loc('texts by authors, title, topic...') %]"
                 data-toggle="dropdown">
                <span class="glyphicon glyphicon-heart"></span>
                <span class="hidden-sm" id="amw-catalog-label">
                  [% loc('Archive') %]
                </span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu dropdown-menu-left">
	            <li[% IF nav == 'titles' %] class="active" [% END %]
                      id="amw-nav-bar-titles">
                  <a href="[% c.uri_for('/library') %]"
		             title="[% loc('texts sorted by title') %]">
                    [% loc('Titles') %]
                  </a>
                </li>
                [% UNLESS site.is_without_authors %]
                <li[% IF nav == 'author' %] class="active" [% END %]
                      id="amw-nav-bar-authors">
                  <a href="[% c.uri_for_action('/category/category_list_display', [ 'author' ]) %]"
		             title="[% loc('texts sorted by author') %]">
                    [% loc('Authors') %]
                  </a>
                </li>
                [% END %]
                [% IF site.fixed_category_list %]
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="dropdown-header">
                  [% loc('Topics') %]
                </li>
                [%     FOREACH fixedcat IN site.list_fixed_categories %]
                <li>
                  <a href="[% c.uri_for_action('/category/single_category_display',
                                               [ 'topic', fixedcat ]) %]">
                    [% loc(fixedcat) %]
                  </a>
                </li>
                [%     END  %]
                [% ELSE %]
                    [% UNLESS site.is_without_topics %]
	            <li[% IF nav == 'topic' %] class="active" [% END %]>
                  <a href="[% c.uri_for_action('/category/category_list_display', [ 'topic' ]) %]"
		             title="[% loc('texts sorted by topics') %]">
                    [% loc('Topics') %]
                  </a>
                </li>
                    [% END %]
                [% END %]
                <li role="presentation" class="divider"></li>
                <li[% IF nav == 'latest' %] class="active"[% END %]>
                  <a href="[% c.uri_for_action('/latest/index') %]"
		             title="[% loc('Latest entries') %]">
                    [% loc('Latest entries') %]
                  </a>
                </li>

                <li[% IF nav == 'monthly' %] class="active"[% END %]>
                  <a href="[% c.uri_for_action('/monthly/list') %]"
		             title="[% loc('Archive by month') %]">
                    [% loc('Archive by month') %]
                  </a>
                </li>

                [% IF c.user_exists || site.human_can_edit %]
                <li role="presentation" class="divider"></li>
                <li[% IF nav == 'add-to-library' %] class="active"[% END %]>
                  <a href="[% c.uri_for_action('/edit/newtext', ['text']) %]">
                    [% loc('Add a new text') %]
                  </a>
                </li>
                [% END %]
              </ul>
            </li>
            [% IF navigation %]

            [%- # begin project -%]
            [% IF navigation.specials %]
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                 title="[% loc('about, links...') %]"
                 data-toggle="dropdown">
                <span class="glyphicon glyphicon-plus"></span>
                <span class="visible-lg-inline visible-xs-inline" id="awm-special-label">
                  [% loc('More') %]
                </span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu dropdown-menu-left">
                [% FOREACH link IN navigation.specials %]
                <li[% IF link.active %] class="active"[% END %]>
                  <a href="[% link.uri %]">[% link.name %]</a>
                </li>
                [% END %]
              </ul>
            </li>
            [% END %]

            [%- # begin specials -%]
            [% IF navigation.projects %]
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                 title="[% loc('Related projects') %]"
                 data-toggle="dropdown">
                <span class="glyphicon glyphicon-th"></span>
                <span class="hidden-sm" id="amw-sitegroup-label">
                  [% loc('Other languages') %]
                </span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu dropdown-menu-left">
                [% FOREACH link IN navigation.projects %]
                <li>
                  <a href="[% link.canonical_url %]">[% link.sitename || link.canonical %]</a>
                </li>
                [% END   %]
              </ul>
            </li>
            [% END %]

            [% END %]

            [% IF site.multilanguage %]
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                 title="[% loc('Language selection') %]"
                 data-toggle="dropdown">
                <span class="glyphicon glyphicon-globe"></span>
                <span class="visible-xs-inline">
                  [% loc('Language selection') %]
                </span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu dropdown-menu-left">
                [% FOREACH lang IN site.multilanguage_list %]
                <li [% IF current_locale_code == lang.code -%]
                    class="active"
                    [%- END %]
                    id="select-lang-[% lang.code %]">
                  <a href="[% c.uri_for_action('/user/language',
                           { 'lang' => lang.code, goto => c.request.path }) | html%]">
                    [% lang.label %]
                  </a>
                </li>
                [% END %]
              </ul>
            </li>
            [% END %]

            [%- # this menu is reserved for logged in users -%]
            [% IF c.user_exists %]
            <li class="dropdown">
              <a href="#"
                 class="dropdown-toggle"
                 title="[% c.user.get('username') | html %]"
                 data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span>
                <span class="visible-xs-inline">
                  [% c.user.get('username') | html %]
                </span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu dropdown-menu-left">
                <li role="presentation" class="dropdown-header hidden-xs">
                  [% c.user.get('username') %]
                </li>
                <li>
                  <a href="[% c.uri_for_action('/edit/newtext', ['special']) %]">
                    [% loc('Create a new special page') %]
                  </a>
                </li>
                [% IF site.multilanguage %]
                <li>
                  <a href="[% c.uri_for_action('/console/translations') %]">
                    [% loc('Internal list of translations') %]
                  </a>
                </li>
                [% END %]
                <li>
                  <a href="[% c.uri_for_action('/publish/pending') %]">
                    [% loc('Pending revisions') %]
                  </a>
                </li>
                <li>
                  <a href="[% c.uri_for_action('/publish/all') %]">
                    [% loc('All revisions') %]
                  </a>
                </li>
                <li>
                  <a href="[% c.uri_for_action('/console/unpublished') %]">
                    [% loc('Deferred/Deleted texts') %]
                  </a>
                </li>
                <li>
                  <a href="[% c.uri_for_action('/console/git_display') %]">
                    [% loc('Remotes') %]
                  </a>
                </li>
                <li>
                  <a href="[% c.uri_for_action('/console/alias_display') %]">
                    [% loc('Redirections') %]
                  </a>
                </li>
                <li>
                  <a href="[% c.uri_for_action('/user/create') %]">
                    [% loc('Create a new librarian') %]
                  </a>
                </li>
                <li>
                  <a href="[% c.uri_for_action('/user/edit', [c.user.get('id')]) %]">
                    [% loc('Update account info') %]
                  </a>
                </li>
                [%# and these are for root %]
                [% IF c.check_user_roles('admin') %]
                <li>
                  <a href="[% c.uri_for_action('/user/site_config') %]">
                    [% loc('Edit site configuration') %]
                  </a>
                </li>
                [% END %]
                [% IF c.check_user_roles('root') %]
                <li>
                  <a href="[% c.uri_for_action('/admin/show_users') %]">
                    [% loc('Users') %]
                  </a>
                </li>
                <li>
                  <a href="[% c.uri_for_action('/admin/list') %]">
                    [% loc('Sites') %]
                  </a>
                </li>
                <li>
                  <a href="[% c.uri_for_action('/admin/edit', site.id) %]">
                    [% loc('Edit site configuration') %]
                  </a>
                </li>
                <li>
                  <a href="[% c.uri_for_action('/admin/jobs') %]">
                    [% loc('Jobs') %]
                  </a>
                </li>
                [% END %]
                <li>
                  <a href="[% c.uri_for('/logout') %]">
                    [% loc('Logout') %]
                  </a>
                </li>
              </ul>
            </li>
            [% END %]
            [%- # the menu for logged in ends here -%]

            <li [% IF nav == 'bookbuilder' %] class="active" [% END %]>
              <a href="[% c.uri_for('/bookbuilder') %]" title="[% loc('Bookbuilder') %]">
                [% SET bb_count_texts = c.model('BookBuilder').total_texts %]
                <span class="glyphicon glyphicon-book [% IF bb_count_texts %]text-primary[% END %]"></span>
                <span class="visible-lg-inline visible-xs-inline">
                  [% loc('Bookbuilder') %]
                </span>
                [% IF bb_count_texts %]
                <strong>([% bb_count_texts %])</strong>
                [% END %]
              </a>
            </li>
            <li id="amw-navbar-opds-link">
              <a href="[% c.uri_for('/help/opds') %]" title="[% loc('Mobile') %]">
                <span class="glyphicon glyphicon-phone"></span>
                <span class="visible-xs-inline">
                  [% loc('Mobile applications') %]
                </span>
              </a>
            </li>
            <li id="amw-navbar-opds-random">
              <a href="[% c.uri_for('/random') %]" title="[% loc('Random') %]">
                <span class="glyphicon glyphicon-random"></span>
                <span class="visible-lg-inline visible-xs-inline">
                  [% loc('Random') %]
                </span>
              </a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div id="wrap">
    <div id="main" class="container clear-top">
      [% IF site.has_site_file('widebanner.png') %]
      <div class="row">
        <div class="col-12-sm hidden-xs">
          <div class="amw-wide-banner-container">
            <a class="amw-wide-banner" href="[% c.uri_for('/') %]">
              <img src="[% c.uri_for_action('/sitefiles/local_files',
                        [ site.id, 'widebanner.png' ]) %]"
                   title="[% site.sitename | html %]"
                   class="amw-wide-banner-img img-responsive"
                   alt="[% site.sitename | html %]" />
            </a>
          </div>
        </div>
        <div>&nbsp;
        </div>
      </div>
      [% END %]
      [% IF top_layout_html %]
      <div class="row" id="amw-top-layout-row">
        <div class="col-12-xs">
          [% top_layout_html %]
        </div>
      </div>
      [% END %]


      <div class="row">
        <div id="amw-main-layout-column"
             class="col-sm-[% main_body_cols || 12 %][% IF left_layout_cols %] col-sm-push-[% left_layout_cols %][% END %]">

[% IF c.sessionid %]
      [% IF c.flash.status_msg %]
      <div class="alert alert-success" id="status_message">
        [% IF c.flash.status_msg == 'BOOKBUILDER_ADDED' %]
        <a href="[% c.uri_for_action('/bookbuilder/index') %]"
           style="color: black">
          [% loc('The text was added to the bookbuilder') %]
        </a>
        [% ELSE %]
        [% c.flash.status_msg | html %]
        [% END %]
      </div>
      [% END %]
      [% IF c.flash.error_msg %]
      <div class="alert alert-warning" id="error_message">
        <span class="glyphicon glyphicon-warning-sign"></span>
        [% c.flash.error_msg | html %]
      </div>
      [% END %]
      [%- # all rendered, clear this -%]
      [%- SET flash_cleared_output_suppressed = c.clear_flash -%]
[% END %]

          <div id="widepage">
            [% content %]
          </div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
        </div>
        [% IF left_layout_html %]
        <div id="amw-left-layout-column"
             class="col-sm-[% left_layout_cols %] col-sm-pull-[% main_body_cols %]">
          [% left_layout_html %]
          <div>&nbsp;</div>
          <div>&nbsp;</div>
        </div>
        [% END %]
        [% IF right_layout_html %]
        <div id="amw-right-layout-column"
             class="col-sm-[% right_layout_cols %]">
          [% right_layout_html %]
          <div>&nbsp;</div>
          <div>&nbsp;</div>
        </div>
        [% END %]
      </div>
      <!-- end of row  -->
      [% IF bottom_layout_html %]
      <div class="row">
        <div class="col-xs-12" id="amw-bottom-layout-row">
          [% bottom_layout_html %]
        </div>
      </div>
      [% END %]
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
    </div><!-- end of main -->
    </div><!-- end of wrap -->
    <div id="footer">
      <div class="footer center">
        <span id="amw-footer-link-feeds">
      <a href="[% c.uri_for('/feed') %]" class="feed" ><img src="[% c.uri_for('/static/images/feed-icon-14x14.png') %]" title="[% loc('RSS feed') %]" alt="[% loc('RSS feed') %]" /></a>
        </span>
        <span id="amw-footer-link-feeds-sep">|</span>
        <span id="amw-footer-link-random">
      <a href="[% c.uri_for('/random') %]" title="[% loc('Random') %]"><span class="glyphicon glyphicon-random"></span></a>
        </span>
        <span id="amw-footer-link-random-sep">|</span>
        <span id="amw-footer-link-library">
      <a href="[% c.uri_for('/library') %]"
		 title="[% loc('texts sorted by title') %]">[% loc('Titles') %]</a>
        </span>

      [% UNLESS site.is_without_authors %]
        <span id="amw-footer-link-authors-sep">|</span>
        <span id="amw-footer-link-authors">
      <a href="[% c.uri_for_action('/category/category_list_display', [ 'author' ]) %]"
		 title="[% loc('texts sorted by author') %]">[% loc('Authors') %]</a>
        </span>
      [% END %]
      [% UNLESS site.is_without_topics %]
        <span id="amw-footer-link-topics-sep">|</span>
        <span id="amw-footer-link-topics">
      <a href="[% c.uri_for_action('/category/category_list_display', [ 'topic' ]) %]"
		 title="[% loc('texts sorted by topics') %]">[% loc('Topics') %]</a>
        </span>
      [% END %]
        <span id="amw-footer-link-latest-sep">|</span>
        <span id="amw-footer-link-latest">
      <a href="[% c.uri_for_action('/latest/index') %]">[% loc('Latest entries') %]</a>
        </span>
        <span id="amw-footer-link-opds-sep">|</span>
        <span id="amw-footer-link-opds">
      <a href="[% c.uri_for_action('/help/opds') %]">[% loc('Mobile') %]</a>
        </span>
      [% IF c.user_exists || site.human_can_edit %]
        <span id="amw-footer-link-newtext">
        <span id="amw-footer-link-newtext-sep">|</span>
      <a href="[% c.uri_for_action('/edit/newtext', ['text']) %]">[% loc('Add a new text') %]</a>
        </span>
      [% END %]
      </div>
    </div>
  </body>
</html>

