<!DOCTYPE html>
<html lang="[% site.locale %]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    [% IF site.has_site_file('favicon.ico') %]
    <link rel="shortcut icon"
          href="[% c.uri_for_action('/sitefiles/local_files',
                                    [ site.id, 'favicon.ico']) %]" />
    [% END %]
    <link rel="alternate" type="application/rss+xml"
          title="[% site.sitename %]" href="[% c.uri_for('/feed') %]" />

    <title>
      [%- IF page_title -%]
      [%- page_title | html -%] |
      [%- END %] [% site.sitename | html -%]</title>

    [%- UNLESS please_index -%]
    <meta name="robots" content="noindex,nofollow" />
    [%- END -%]

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript"
            src="[% c.uri_for('/static/js/jquery-1.11.1.min.js') %]">
    </script>
    <link rel="stylesheet"
          href="[% c.uri_for('/static/css/bootstrap.css', { v => 3 }) %]" />

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript"
            src="[% c.uri_for('/static/js/bootstrap.min.js') %]">
    </script>

    <!-- jquery-ui for the highlight effect everywhere and autocompletion
         source in [% c.uri_for('/static/js/jquery-ui-1.10.4.custom.js') %] -->

    <script type="text/javascript"
            src="[% c.uri_for('/static/js/jquery-ui-1.10.4.custom.min.js') %]" >
    </script>

    [%- IF nav == 'console' -%]
    <script type="text/javascript"
            src="[% c.uri_for('/static/js/select2/select2.min.js') %]" >
    </script>
    <link rel="stylesheet"
          href="[% c.uri_for('/static/css/select2/select2.css') %]" />
    <link rel="stylesheet"
          href="[% c.uri_for('/static/css/select2//select2-bootstrap.css') %]" />
    [%- END -%]

    [%# markitup css -- maybe make it conditional %]
    <link rel="stylesheet" type="text/css"
          href="[% c.uri_for('/static/js/markitup/skins/amw/style.css') %]" />
    <link rel="stylesheet" type="text/css"
          href="[% c.uri_for('/static/js/markitup/sets/muse/style.css') %]" />

    [%# base css for amuse texts %]
    <link rel="stylesheet" type="text/css"
          href="[% c.uri_for('/static/css/amuse.css') %]" />

    [%# our css for the web application %]
    <link rel="stylesheet" type="text/css"
          href="[% c.uri_for('/static/css/amusewiki.css', { v => 10 }) %]" />

    <script src="[% c.uri_for('/static/js/amuse.js', { v => 1 }) %]"></script>

    [%- IF site.has_site_file('local.css') -%]
    <link rel="stylesheet" type="text/css"
          href="[% c.uri_for_action('/sitefiles/local_files',
                                    [ site.id, 'local.css']) %]" />
    [%- END -%]
    [%- IF site.has_site_file('local.js') -%]
    <script type="text/javascript"
            src="[% c.uri_for_action('/sitefiles/local_files',
                                    [ site.id, 'local.js']) %]">
    </script>
    [%- END -%]


  </head>
  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          [%- IF site.has_site_file('navlogo.png') -%]
          <a class="amw-navlogo" href="[% c.uri_for('/') %]">
            <img src="[% c.uri_for_action('/sitefiles/local_files',
                      [ site.id, 'navlogo.png' ]) %]"
                 title="[% site.sitename %]"
                 class="amw-navlogo-img"
                 alt="[% site.sitename %]" />
          </a>
          [% ELSE %]
          <a class="navbar-brand" href="[% c.uri_for('/') %]">
            <small>[% site.sitename %]</small>
          </a>
          [%- END -%]
          <a class="amw-navlogo hidden-when-no-toc" href="#"
             data-toggle="modal"
             style="display:none"
             title="[% loc('Toggle the table of contents') %]"
             data-target="#myModal">
            <img src="[% c.uri_for('/static/images/toc.png') %]"
                 alt="[% loc('Toggle the table of contents') %]"
                 class="amw-navlogo-img" id="amw-toc-toggler"/>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <div class="nav navbar-nav navbar-right"
               style="padding-left: 5px; padding-right: 0px; margin-right: 0px;">
            <form class="navbar-form navbar-input-group"
                  method="get" role="search"
                  id="formsearchbox" action="[% c.uri_for('/search') %]">
              <div class="input-group">
		        <input type="text" class="form-control"
                       placeholder="[% loc('Search') %]"
                       name="query" value=""/>
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                 title="[% loc('texts by authors, title, topic...') %]"
                 data-toggle="dropdown">
                [% site.catalog_label || loc('Catalog') %]
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
	            <li[% IF nav == 'titles' %] class="active" [% END %]>
                  <a href="[% c.uri_for('/library') %]"
		             title="[% loc('texts sorted by title') %]">
                    [% loc('Titles') %]
                  </a>
                </li>
                <li[% IF nav == 'author' %] class="active" [% END %]>
                  <a href="[% c.uri_for('/authors') %]"
		             title="[% loc('texts sorted by author') %]">
                    [% loc('Authors') %]
                  </a>
                </li>
                [% IF site.fixed_category_list %]
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="dropdown-header">
                  [% loc('Topics') %]
                </li>
                [%     FOREACH fixedcat IN site.list_fixed_categories %]
                <li>
                  <a href="[% c.uri_for_action('/category/single_topic_display',
                                               [ fixedcat ]) %]">
                    [% site.lexicon_translate(current_locale_code,
                                              fixedcat) | html %]
                  </a>
                </li>
                [% %]
                [%     END  %]
                [% ELSE %]
	            <li[% IF nav == 'topic' %] class="active" [% END %]>
                  <a href="[% c.uri_for('/topics') %]"
		             title="[% loc('texts sorted by topics') %]">
                    [% loc('Topics') %]
                  </a>
                </li>
                [% END %]
                [% IF c.user_exists || site.human_can_edit %]
                <li role="presentation" class="divider"></li>
                <li[% IF nav == 'add-to-library' %] class="active"[% END %]>
                  <a href="[% c.uri_for_action('/edit/newtext', ['text']) %]">
                    [% loc('Add to library') %]
                  </a>
                </li>
                [% END %]
              </ul>
            </li>
            [% IF site.multilanguage %]
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                 title="[% loc('Language selection') %]"
                 data-toggle="dropdown">
                [% loc('Language selection') %]
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                [% FOREACH lang IN site.multilanguage_list %]
                <li [% IF current_locale_code == lang.code -%]
                    class="active"
                    [%- END %]
                    id="select-lang-[% lang.code %]">
                  <a href="[% c.uri_for_action('/user/language',
                           { 'lang' => lang.code, goto => c.request.path }) %]">
                    [% lang.label %]
                  </a>
                </li>
                [% END %]
              </ul>
            </li>
            [% END %]

            [% IF navigation %]

            [%- # begin project -%]
            [% IF navigation.specials %]
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                 title="[% loc('about, links...') %]"
                 data-toggle="dropdown">
                [% site.specials_label || loc('More') %]
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                [% FOREACH link IN navigation.specials %]
                <li[% IF link.active %] class="active"[% END %]>
                  <a href="[% link.uri %]">[% link.name %]</a>
                </li>
                [% END %]
              </ul>
            </li>
            [% END %]

            [%- # begin specials -%]
            [% IF navigation.projects %]
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                 title="[% loc('Related projects') %]"
                 data-toggle="dropdown">
                [% site.sitegroup_label || loc('Other languages') %]
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                [% FOREACH link IN navigation.projects %]
                <li>
                  <a href="[% link.canonical %]">[% link.sitename || link.canonical %]</a>
                </li>
                [% END   %]
              </ul>
            </li>
            [% END %]

            [% END %]
            [%- # this menu is reserved for logged in users -%]
            [% IF c.user_exists %]
            <li class="dropdown">
              <a href="#"
                 class="dropdown-toggle"
                 data-toggle="dropdown">
                [% c.user.get('username') %]
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="[% c.uri_for_action('/edit/newtext', ['special']) %]">
                    [% loc('Create a new special page') %]
                  </a>
                </li>
                [% IF site.multilanguage %]
                <li>
                  <a href="[% c.uri_for_action('/console/translations') %]">
                    [% loc('Internal list of translations') %]
                  </a>
                </li>
                [% END %]
                <li>
                  <a href="[% c.uri_for_action('/publish/pending') %]">
                    [% loc('Pending revisions') %]
                  </a>
                </li>
                <li>
                  <a href="[% c.uri_for_action('/publish/all') %]">
                    [% loc('All revisions') %]
                  </a>
                </li>
                <li>
                  <a href="[% c.uri_for_action('/console/unpublished') %]">
                    [% loc('Deferred/Deleted texts') %]
                  </a>
                </li>
                <li>
                  <a href="[% c.uri_for_action('/console/git_display') %]">
                    [% loc('Remotes') %]
                  </a>
                </li>
                <li>
                  <a href="[% c.uri_for_action('/console/alias_display') %]">
                    [% loc('Redirections') %]
                  </a>
                </li>
                <li>
                  <a href="[% c.uri_for_action('/user/create') %]">
                    [% loc('Create a new librarian') %]
                  </a>
                </li>
                <li>
                  <a href="[% c.uri_for_action('/user/edit', [c.user.get('id')]) %]">
                    [% loc('Update account info') %]
                  </a>
                </li>
                [%# and these are for root %]
                [% IF c.check_user_roles('root') %]
                <li>
                  <a href="[% c.uri_for_action('/admin/list') %]">
                    [% loc('Sites') %]
                  </a>
                </li>
                <li>
                  <a href="[% c.uri_for_action('/admin/edit', site.id) %]">
                    [% loc('Edit site configuration') %]
                  </a>
                </li>
                <li>
                  <a href="[% c.uri_for_action('/admin/jobs') %]">
                    [% loc('Jobs') %]
                  </a>
                </li>
                [% END %]
                <li>
                  <a href="[% c.uri_for('/logout') %]">
                    [% loc('Logout') %]
                  </a>
                </li>
              </ul>
            </li>
            [% END %]
            [%- # the menu for logged in ends here -%]

            <li[% IF nav == 'bookbuilder' %] class="active"[% END %]>
              <a href="[% c.uri_for('/bookbuilder') %]">
                [% loc('Bookbuilder') %]
              </a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div id="wrap">
    <div id="main" class="container clear-top">
      [% IF c.flash.status_msg %]
      <div class="alert alert-success" id="status_message">
        [% IF c.flash.status_msg == 'BOOKBUILDER_ADDED' %]
        <a href="[% c.uri_for_action('/bookbuilder/index') %]"
           style="color: black">
          [% loc('The text was added to the bookbuilder') %]
        </a>
        [% ELSE %]
        [% c.flash.status_msg | html %]
        [% END %]
      </div>
      [% END %]
      [% IF c.flash.error_msg %]
      <div class="alert alert-warning" id="error_message">
        [% c.flash.error_msg | html %]
      </div>
      [% END %]
      [%- # all rendered, clear this -%]
      [%- SET flash_cleared_output_suppressed = c.clear_flash -%]
      <div id="widepage">
        [% content %]
      </div>
    </div>
    </div>

    <div id="footer" class="footer center">
      <a href="[% c.uri_for('/feed') %]" class="feed">
        [% loc('RSS feed') %]
      </a>
      |
	  <a href="[% c.uri_for('/random') %]">[% loc('Random') %]</a>
    </div>
  </body>
</html>

