[% # -*- mode: html -*- %]
<h2>[% page_title %]</h2>
<div><br /></div>

<ol>
  [% FOREACH text IN texts %]
  <li>
    <a href="[% c.uri_for(text.full_uri) %]">[% text.title %]</a>
    [% IF text.author %]
    — [% text.author %]
    [% END %]
  </li>
  [% END %]
</ol>
