<!DOCTYPE html>
<html lang="[% lang %]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>[% lh.loc_html(title) %]</title>
    [%- IF site.has_site_file('favicon.ico') %]
    <link rel="shortcut icon" href="./site_files/favicon.ico" />
    [%- END %]
    [%- FOREACH css IN css_files %]
    <link rel="stylesheet" href="[% css %]" />
    [%- END %]
    [%- FOREACH script IN javascript_files %]
    <script type="text/javascript" src="[% script %]" ></script>
    [%- END %]
    [%- IF site.has_site_file('local.css') -%]
    <link rel="stylesheet" type="text/css" href="./site_files/local.css" />
    [%- END %]
    [%- IF site.has_site_file('local.js') %]
    <script type="text/javascript" src="./site_files/local.js"></script>
    [%- END %]
  </head>
  <body>
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span>
          [%- IF site.has_site_file('navlogo.png') -%]
          <a class="amw-navlogo" href="./titles.html">
            <img src="./site_files/navlogo.png"
                 title="[% site.sitename | html %]"
                 style="padding: 5px 5px; height: 50px;"
                 class="amw-navlogo-img"
                 alt="[% site.sitename | html %]" />
          </a>
          [% ELSE %]
          <a class="navbar-brand" href="./titles.html"
             title="[% site.sitename | html %]">
            <small>[%  site.sitename | html %]</small>
          </a>
          [%- END -%]
          </span>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li[% IF title == 'Titles' %] class="active" [% END %]>
              <a href="./titles.html">[% lh.loc_html('Titles') %]</a>
            </li>
            <li[% IF title == 'Authors' %] class="active" [% END %]>
              <a href="./authors.html">[% lh.loc_html('Authors') %]</a>
            </li>
            <li[% IF title == 'Topics' %] class="active" [% END %]>
              <a href="./topics.html">[% lh.loc_html('Topics') %]</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="page" class="container-fluid">
      <div class="page-header text-center">
        <h1>[% lh.loc_html(title) %]</h1>
      </div>
      <div>
        [% IF category_listing %]
        <ol>
          [% FOREACH cat IN list %]
          <li>
            <h4 id="cat-[% cat.uri %]">[% cat.name %]</h4>
            <ul>
              [% FOREACH text IN cat.sorted_titles %]
              <li>
                <a href="./titles.html#text-[% text.uri %]">[% text.title %]</a>
              </li>
              [% END %]
            </ul>
          </li>
          [% END %]
        </ol>
        [% ELSE %]
        [% SET topics_label = lh.loc_html('Topics') %]
        [% SET authors_label = lh.loc_html('Authors') %]
        [% FOREACH text IN list %]
        <div id="text-[% text.uri %]" class="row">
          <div class="col-xs-1">
            <div class="text-right">
              <small>[% text.numbering %].</small>
            </div>
          </div>
          <div class="col-xs-5">
            <a href="[% text.in_tree_uri %].html">
              [% text.title %]
            </a>
            [%- IF text.author %] — [% text.author %] [% END %]
            [% IF text.lang %]<small>[[% text.lang %]]</small>[% END %]
            [% IF text.sorted_authors || text.sorted_topics %]
            <div>
              [%- IF text.sorted_authors %]
              <div>
                <strong>[% authors_label %]:</strong>
                [%- FOREACH author IN text.sorted_authors %]
                <a href="./authors.html#cat-[% author.uri %]">[% author.name %]</a>
                [%- END -%]
              </div>
              [%- END %]
              [%- IF text.sorted_topics %]
              <div>
                <strong>[% topics_label %]:</strong>
                [%- FOREACH topic IN text.sorted_topics %]
                <a href="./topics.html#cat-[% topic.uri %]">[% topic.name %]</a>
                [%- END %]
              </div>
              [%- END %]
            </div>
            [% END %]
          </div>
          <div class="col-xs-6">
            [%- FOREACH format IN formats %]
            <a href="[% text.in_tree_uri %][% format.ext %]"
               style="color:black">
              <span class="fa fa-2x fa-border [% format.icon %] fw"
                    title="[% format.desc %]"
                    aria-hidden="true"
                    data-toggle="tooltip"
                    data-placement="top">
              </span><span class="sr-only">[% format.desc %]</span></a>
            [%- END %]
          </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        [%- END %]
        [%- END %]
      </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <script type="text/javascript">
      $(document).ready(function() {
         $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
  </body>
</html>
