[%- # from http://wiki.catalystframework.org/wiki/gettingstarted/howtos/template_wrappers.view -%]
[%- IF no_wrapper;
        debug("Passing page through as text: $template.name");
        content;
    ELSE;
        wrapper = wrapper || 'layout.tt';
        debug("Applying wrapper $wrapper to $template.name");
        content WRAPPER $wrapper;
    END;
-%]
