[%# -*- mode: html -*- %]
[% IF c.model('AMWConfig').validate_use_cdn %]
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/localization/messages_[% current_locale_code %].js"></script>
[% ELSE %]
<script src="[% c.uri_for('/static/js/validate/dist/jquery.validate.min.js') %]"></script>
[%# if ther is no language, let it fail %]
<script src="[% c.uri_for('/static/js/validate/dist/localization/messages_' _ current_locale_code _ '.js') %]"></script>
[% END %]
