[%# -*- mode: html -*- %]

<h3>[% loc('Imposition schemas') %]</h3>

<h4>2up</h4>

<img src="[% c.uri_for('/static/images/schema-preview/2up.png') %]"
     alt="2up" />


<h4>2x4x2</h4>

<img src="[% c.uri_for('/static/images/schema-preview/2x4x2.png') %]"
     alt="2x4x2" />


<h4>2side</h4>

<p>
  [% loc('Just packs 2 consecutives logical pages on a physical one.') %]
</p>

<img src="[% c.uri_for('/static/images/schema-preview/2side.png') %]"
     alt="2side" />
