
[% loc("Your user at [_1] has been created.", site.canonical_url_secure) %]

[% loc("Your username is [_1].", user.username) %]

[% loc("Your password is [_1].", password) %]

[% loc("You should change your password right away at [_1]",
   c.uri_for_action('/user/edit', [ user.id ])) %]

[% loc("You can create a peer at [_1]", c.uri_for_action('/user/create')) %]




